In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv("C:/Users/Utku/Desktop/Jupyter Notebook/Datathon/Datasets/linear_regression_dataset_20220209.csv")
df.head()

   experience  salary
0         0.5    2500
1         0.0    2250
2         1.0    2750
3         5.0    8000
4         8.0    9000