In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression

In [8]:
df = pd.read_csv("C:/Users/Utku/Desktop/Jupyter Notebook/Datathon/Datasets/multi_linear_regression_dataset.csv")
df.head()

   experience  salary  age
0         0.5    2500   22
1         0.0    2250   21
2         1.0    2750   23
3         5.0    8000   25
4         8.0    9000   28

In [9]:
x = df.iloc[:, [0, 2]].values
x

array([[ 0.5, 22. ],
       [ 0. , 21. ],
       [ 1. , 23. ],
       [ 5. , 25. ],
       [ 8. , 28. ],
       [ 4. , 23. ],
       [15. , 35. ],
       [ 7. , 29. ],
       [ 3. , 22. ],
       [ 2. , 23. ],
       [12. , 32. ],
       [10. , 30. ],
       [14. , 34. ],
       [ 6. , 27. ]])

In [10]:
y = df.salary.values.reshape(-1, 1)
y

array([[ 2500],
       [ 2250],
       [ 2750],
       [ 8000],
       [ 9000],
       [ 6900],
       [20000],
       [ 8500],
       [ 6000],
       [ 3500],
       [15000],
       [13000],
       [18000],
       [ 7500]], dtype=int64)

In [11]:
# Multi Linear Regression Model Training

# Multi Linear Regression Model
multi_linear_regression = LinearRegression()

# Linear Regression Training
multi_linear_regression.fit(x, y)

LinearRegression()

In [14]:
# test 1
test_data1 = np.array([[10, 35]]) # experience = 10, age = 35
test_result1 = multi_linear_regression.predict(test_data1)

print(f"Salary of 10 year experience and age 35: {test_result1[0]}")

Salary of 10 year experience and age 35: [11046.35815877]

In [15]:
# test 2
test_data2 = np.array([[5, 35]])
test_result2 = multi_linear_regression.predict(test_data2)

print(f"Salary: {test_result2[0]}")

Salary: [3418.85455609]